* { box-sizing: border-box; }
body {
  background-image:url(images/bg-img.jpg);
  background-repeat:no-repeat;
  background-position:top center;
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
}
body.success {
  background-image:url(images/bg-img-success.jpg);
}
h1, h2{
    font-family: 'Fugaz One', cursive;
    color:#fff;
    text-transform:uppercase;
}
h1 {
    font-size:5.4vw;
    letter-spacing:2vw;
    margin-bottom:10vh;
}
.success h1 {
    margin-bottom:1vh;
}
h2 {
    margin-top:20vh;
    font-size:2.4vw;
    letter-spacing:0.5vw;
}
p{
  margin:30px auto;
  color:#fff;
  font-size:1.32vw;
  letter-spacing:1.3;
  line-height:2.1vw;
}
label {
  color:#fff;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  width:100%;
  height:100%;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.date .form-control {
  background-color:transparent;
  border:none;
  border-bottom:4px solid #fff;
  border-radius: 0;
  font-size:30px;
  letter-spacing:11px;
  color:#fff;
  font-family: 'Fugaz One', cursive;
  font-style:italic;
  text-align:center;
  line-height:50px;
  height:50px;
  text-transform:uppercase;
  appearance:none;
  outline:none;
}
.input-group-addon {
  background-color:transparent;
  border:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
}
.input-group-addon span {
  display:none;
}
.btn-calculate, .btn-calculate:visited, .btn-calculate:focus, .btn-calculate:hover, .btn-calculate:active {
  -webkit-appearance:none;
  outline:none!important;
  color:#fff;
  font-family: 'Fugaz One', cursive;
  font-size:20px;
  letter-spacing:4px;
  text-align:center;
  text-transform:uppercase;
  line-height:66px;
  padding:0;
	width: 275px;
	height: 68px;
  border-radius: 5px;
}
.btn-calculate, .btn-calculate:visited, .btn-calculate:focus  {
	background-color: #f68523;
	box-shadow: 0 6px 0 0 #a75d1c;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  margin:20px 0 0 50%;
  -ms-transform: translate(-137px, 0); /* IE 9 */
  -webkit-transform: translate(-137px, 0); /* Safari */
  transform: translate(-137px, 0);
}
.btn-calculate:hover {
  box-shadow: 0 10px 0 0 #a75d1c;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -ms-transform: translate(-137px, -6px); /* IE 9 */
  -webkit-transform: translate(-137px, -6px); /* Safari */
  transform: translate(-137px, -6px);
}
.btn-calculate:active {
  background-color:#a75d1c;
  box-shadow: 0 6px 0 0 #a75d1c;
  -ms-transform: translate(-137px, -2px); /* IE 9 */
  -webkit-transform: translate(-137px, -2px); /* Safari */
  transform: translate(-137px, -2px);
}
@media screen and (max-width: 767px) {
    .video-background{display:none;}
}
