* { box-sizing: border-box; }
body {
  background-image:url(images/bg-img.jpg);
  background-repeat:no-repeat;
  background-position:top center;
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
}
h1, h2{
    font-family: 'Fugaz One', cursive;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
}
h1 {
    margin-top:20vh;
    font-size:5.4vw;
    letter-spacing:2vw;
}
h2 {
    font-size:3.6vw;
}
p{
  text-align:center;
  margin:30px auto;
  color:#fff;
  font-size:1.32vw;
  letter-spacing:1.3;
  line-height:2.1vw;
}
label {
  color:#fff;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  width:100%;
  height:100%;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.form-age {
  width:100%;
  max-width:400px;
  position:reltive;
  margin:30px auto;
}
.form-age input[type='text']{
  margin-bottom:15px;
}
.form-age input[type='submit']{
  margin:0 auto;
}
@media screen and (max-width: 767px) {
    .video-background{display:none;}
}
